$nav-height: 60px;
.main {
  margin-top: $nav-height;
  padding: 24px;
}

.navbar {
  height: $nav-height;
  justify-content: flex-start;
  gap: 32px;
}
.active {
  color: #0d6efd!important;

  &:focus {

  }
}