.post {
  max-width: 450px;
  margin: auto;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
}

.font-bold {
  font-weight: 500;
}
